.sidebar {
  width: 220px;
  background: #f9fafe;
  padding: 2rem;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 40px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 18px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  transition: 0.2s ease;
}
.icon {
  font-size: 20px !important;
  color: #888;
}

.navItem:hover {
  color: #000;
}
